*{
	margin: 0;
	padding-left: 0;
	text-decoration: none;
	list-style: none;
	font-family: 微软雅黑;
}
html,body{
	text-align: center;
}
/*登陆注册用户名*/
.above{
	width: auto;
	width: 1000px;
	height: 50px;
	margin: 30px auto;
	display: block;
	position: relative;
}
.log{
	width: 160px;
	height: 100%;
	float: left;
}
#Search_input{
	width: 512px;
	height: 35px;
	margin-left: 30px;
	float: left;
	margin-top: 11px;
	border:1px #e0e0e0 solid;
}
#Search_span{
	width:98px;
	height: 39px;
	background: #bbd441;
	border: none;
	float: left;
	margin-left: -4px;
	margin-top: 11px;
	border-radius: 5px;
}
#login{
	color: #999;
	position: absolute;
	right: 75px;
	top: 0;
	text-decoration: none;
}
#regist{
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	text-decoration: none;
}
#login_userName{
	color: #999;
	position: absolute;
	right: 75px;
	top: 0;
	text-decoration: none;
}
#login_close{
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	text-decoration: none;
}
nav{
	width: 100%;
	height: 50px;
	background: #bbd441;
	text-align: center;
}
nav li{
	height: 100%;
	padding: 0 30px;
	float: left;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
}
nav>ul{
	display: inline-block;
}
nav li:hover{
	background-color:#EAEC63;
	color:#333333;
}
nav li a{
	color:#fff;
}
nav li:hover a{
	color:#333;
}
.newThings_wrap{
	margin:0 auto;
	margin-top:25px;
	width:1000px;
	height:945px;
 }
.newThings_wrap h2{
	float:left;
	padding-right:20px;
	font-size:24px;
 	color:#3D3D3D;
 	font-weight:bold;
}
/*幻灯片CSS开始*/
.Carousel {
	width:740px;
	height:350px;
	margin:0 auto;
	margin-top: 25px;
	position: relative;
}
.Carousel_main{
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
.Carousel_main li a{
	display: block;
	width: 740px;
	height: 350px;
}
.Carousel_main li img {
	display:block;
	width:100%;
	height:350px;
	position: absolute;
	left:0;
	top:0;
}
.Carousel_span {
	width: 740px;
	height:35px;
	position: absolute;
	left:0;
	bottom:0;
	zoom:1;
}
.Carousel_span span {
	width:15px;
	height:15px;
	display:block;
	float:left;
	margin-left:10px;
	background: url(../images/dot.png) no-repeat left bottom;
}
.Carousel_span p {
	width:100px;
	height:35px;
	margin:0 auto;
}
.Carousel_span .Carousel_span_one{
	background: url(../images/dot.png) no-repeat left top;
}
.Carousel_left {
	width:57px;
	height:57px;
	cursor: pointer;
	background:#000 url(../images/ad_ctr.png) no-repeat 5px -15px;
	filter:alpha(opacity:50);opacity:0.5;
	position: absolute;
	left:50px;
	top:150px;
	display:none;
}
.Carousel_right {
	width:57px;
	height:57px;
	cursor: pointer;
	background:#000 url(../images/ad_ctr.png) no-repeat -5px -105px;
	filter:alpha(opacity:50);opacity:0.5;
	position: absolute;
	right:50px;
	top:150px;
	display:none;
}

.newThings_box1{
	float:left;
	margin-top:70px;
	width:380px;
	height:465px;
 }
.newThings_box2{
	float:left;
	margin-left:85px;
	margin-top:70px;
	width:485px;
	height:465px;
}
.newThings_box1 li{
    margin-top:20px;
	margin-bottom:20px;
  	float:left;
	font-size:16px;
 	color:#747474;
 	font-weight:bold;
}
.newThings_box1_h3{
  	text-align:left;
  	margin-top:20px;
	font-size:19px;
 	color:#333333;
 	font-weight:bold;
 	text-decoration: none;
 	display: block;
}
.newThings_box2 h3{
  	text-align:left;
  	margin-top:15px;
	font-size:19px;
 	color:#333333;
 	font-weight:bold;
}
.newThings_box1 hr, .newThings_box2 hr{
 	margin-top:50px;
 	color:#333333;
}
.mancenter_bottom{
	margin-top:35px;
	height:90px;
 }
.mancenter_hr{
	margin:0 auto;
    width:850px;
 }
.mancenter_bottom_container{
	margin:0 auto;
	width:1000px;
	height:90px;
 }
.mancenter_bottom_container p{
	padding-top:15px;
 	font-family:微软雅黑;
	font-size:16px;
	text-align:center;
	color:#999999;
}
/*登录界面*/
#close{
	width: 25px;
	height: 25px;
	float: right;
}
#log_card{
	text-align: center;
	display: none;
	z-index: 101;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left:-257px; 
	width: 515px;
	height:324px;
	background: #FFFFFF;
}
.log_card_log{
	margin-top: 58px;
	font-family: '微软雅黑';
	font-size: 24px;
	font-weight: bold;
}
#userName{
	display: inline-block;
	margin-top: 30px;
	margin-right: 20px;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
}
#password{
	display: inline-block;
	margin-top: 24px;
	margin-right: 20px;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
}
.userName{
	width: 241px;
	height: 27px;
}
.password{
	width: 241px;
	height: 27px;
}
.log_btn{
	margin-top: 35px;
	margin-left: 160px;
	width: 241px;
	height: 42px;
	line-height: 42px;
	border-radius: 10px;
	cursor: pointer;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
	background-color: #BED742;
}
/*遮罩层*/
#mask {
	position: absolute; 
	top: 0px;left: 0px;
	display: none;
	width: 100%;
	/*height: 100%;*/
	-moz-opacity: 0.7; 
	opacity:.70; 
	filter: alpha(opacity=70); 
	background-color: #777;
	z-index: 100;
}