*{
	margin: 0;
	padding-left: 0;
	text-decoration: none;
	list-style: none;
	font-family: 微软雅黑;
}
html,body{
	text-align: center;
}
/*登陆注册用户名*/
.above{
	width: auto;
	width: 1000px;
	height: 50px;
	margin: 30px auto;
	display: block;
	position: relative;
}
.log{
	width: 160px;
	height: 100%;
	float: left;
}
#Search_input{
	width: 512px;
	height: 35px;
	margin-left: 30px;
	float: left;
	margin-top: 11px;
	border:1px #e0e0e0 solid;
}
#Search_span{
	width:98px;
	height: 39px;
	background: #bbd441;
	border: none;
	float: left;
	margin-left: -4px;
	margin-top: 11px;
	border-radius: 5px;
}
#login{
	color: #999;
	position: absolute;
	right: 75px;
	top: 0;
	text-decoration: none;
}
#regist{
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	text-decoration: none;
}
#login_userName{
	color: #999;
	position: absolute;
	right: 75px;
	top: 0;
	text-decoration: none;
}
#login_close{
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	text-decoration: none;
}

/*登录界面*/
#close{
	width: 25px;
	height: 25px;
	float: right;
}
#log_card{
	text-align: center;
	display: none;
	z-index: 101;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left:-257px; 
	width: 515px;
	height:324px;
	background: #FFFFFF;
}
.log_card_log{
	text-align: center;
	margin-left: -10px;
	margin-top: 58px;
	font-family: '微软雅黑';
	font-size: 24px;
	font-weight: bold;
}
#userName{
	display: inline-block;
	margin-top: 30px;
	margin-right: 20px;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
}
#password{
	display: inline-block;
	margin-top: 24px;
	margin-right: 20px;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
}
.userName{
	width: 241px;
	height: 27px;
}
.password{
	width: 241px;
	height: 27px;
}
.log_btn{
	margin-top: 35px;
	margin-left: 160px;
	width: 241px;
	height: 42px;
	line-height: 42px;
	border-radius: 10px;
	cursor: pointer;
	font-family: '微软雅黑';
	font-size: 18.67px;
	font-weight: bold;
	background-color: #BED742;
}
/*遮罩层*/
#mask {
	position: absolute; 
	top: 0px;left: 0px;
	display: none;
	width: 100%;
	/*height: 100%;*/
	-moz-opacity: 0.7; 
	opacity:.70; 
	filter: alpha(opacity=70); 
	background-color: #777;
	z-index: 100;
}
.page_wrap{
	height:840px;
}
.page_box{
	margin:0 auto;
	width:1000px;
	height:830px;
 }
.page_contain{
	margin-top:30px;
	width:998px;
	height:148px;
	border:1px solid #e7e7e7;
}
.page_contain:hover{
	background-color:#EAEC64;
	width:998px;
	height:148px;
	border-color: transparent;
 }
.page_contain h3{
	font-size:19px;
	margin-left:60px;
	margin-top:10px;
    float:left;
    text-decoration:underline;
    color:#333333;
}
.page_contain img{
	float:left;
	margin-left:-120px;
 	margin-top:40px;
	width:120px;
	height:95px;
}
.page_contain p{
	text-align:left;
	line-height:30px;
	width:705px;
	height:145px;
	float:right;
	margin-right:60px;
	color:#666666;
}
.jump{
	display: inline-block;
	width:auto;
	height: auto;
	margin: 30px auto 35px auto;
}
.jump>a{
	width: 34px;
	height: 34px;
	border: 1px #e7e7e7 solid;
	float: left;
	text-align: center;
	line-height: 34px;
	margin-right: 20px;
	cursor:pointer;
	font-weight: bold;
	color: #000;
}
.jump>a:last-child{
	width: 75px;
	margin-left: 30px;
}
.jump>a:hover{
	background-color:#BBD441;
}
.mancenter_bottom{
	margin-top:35px;
	height:90px;
 }
.mancenter_hr{
	margin:0 auto;
    width:850px;
 }
.mancenter_bottom_container{
	margin:0 auto;
	width:1000px;
	height:90px;
 }
.mancenter_bottom_container p{
	padding-top:15px;
 	font-family:微软雅黑;
	font-size:16px;
	text-align:center;
	color:#999999;
}
