*{
	padding:0;
	margin:0;
}
.register_box{
	width:1000px;
	height:660px;
	margin:0 auto;
}
.register_logo{
	margin-top:30px;
	width:160px;
	height:50px;
	background-color:#BED742;
}
.register_container{
	margin:40px auto;
	width:380px;
	height:540px;
}
.register_container h1{
	margin-top:10px;
	text-align:center;
	font-size:24px;
	font-family:微软雅黑;
	font-weight:bold;
	color:#333333;
}
.register_container p{
	float:right;
 	font-size:19px;
	font-family:微软雅黑;
	font-weight:bold;
 	margin-top:25px;
	color:#666666;
}
.register_container input{
	float:right;
	margin-right:1px;
	margin-left:30px;
	width:240px;
	height:25px;
	border:1px solid #E9E9E9;
	border-top:2px solid #E9E9E9;
}
.input07 input{
 	width:65px;
	height:25px;
	float:right;
	margin-right:175px;
	margin-left:30px;
	border:1px solid #E9E9E9;
	border-top:2px solid #E9E9E9;
}
.errorMsg_on{
	position:absolute;
 	margin-left:300px;
 	height:25px;
	font-size:15px;
	font-family:微软雅黑;
	color:#C81522;
}
.checked_box{
 	position:relative;
	margin-right:141px;
   	width:100px;
	height:50px;
	background-color:#ECE4CF;
	cursor:pointer;
}
.checked_box img{    width:100px;     height:50px;}.register_login{
	position:relative;
   	width:240px;
	height:38px;
	text-align:center;
	border-radius:6px;
	border-bottom:2px solid #828282;
	background-color:#BED742;
}
.register_login a{
	text-decoration: none;
	line-height:38px;
	font-size:19px;
	font-family:微软雅黑;
	font-weight:bold;
	color:#333333;
}
.register_bottom{
	height:90px;
}
.register_hr{
	margin:0 auto;
    width:850px;
}
.register_bottom_container{
	margin:0 auto;
	width:1000px;
	height:90px;
}
.register_bottom_container p{
	padding-top:15px;
 	font-family:微软雅黑;
	font-size:16px;
	text-align:center;
	color:#999999;
}
