*{
	padding:0;
	margin:0;
}
.updatedata_box{
	width:1000px;
	height:660px;
	margin:0 auto;
}
.updatedata_logo{
	margin-top:30px;
	width:160px;
	height:50px;
	background-color:#BED742;
}
span{
	position: absolute;
    margin-top: 30px;
    margin-left: 20px;
 	font-size:35px;
	font-family:微软雅黑;
	font-weight:bold;
	color:#333333;
}
.updatedata_container{
	margin:40px auto;
	width:380px;
	height:540px;
	position:relative;
 }
.picture{
 	margin-right:62px;
	width:150px;
	height:100px;
    background-color:#BED742;
    cursor:pointer;
}
#file{
	opacity:0;
    filter:alpha(opacity=0);
	width:150px;
	height:100px;
	position: absolute;
    top:25px;
    left:138px;
    z-index:9;
    cursor:pointer;
 }
 .updatedata_container h3{
	float:left;
	font-size:19px;
	font-family:微软雅黑;
	font-weight:bold;
 	margin-top:65px;
 	margin-left:68px;
	color:#666666;
}
.updatedata_container p{
	float:right;
 	font-size:19px;
	font-family:微软雅黑;
	font-weight:bold;
 	margin-top:25px;
	color:#666666;
}
.updatedata_container input{
	float:right;
	margin-right:1px;
	margin-left:30px;
	width:240px;
	height:25px;
	border:1px solid #E9E9E9;
	border-top:2px solid #E9E9E9;
}
.input07 input{
 	width:65px;
	height:25px;
	float:right;
	margin-right:175px;
	margin-left:30px;
	border:1px solid #E9E9E9;
	border-top:2px solid #E9E9E9;
}
.errorMsg_on{
	position:absolute;
	margin-top:0px;
 	margin-left:300px;
 	width:200px;
 	height:25px;
	font-size:15px;
	font-family:微软雅黑;
	color:#C81522;
 }
.checked_box{
 	position:relative;
	margin-right:141px;
   	width:100px;
	height:50px;
	background-color:#ECE4CF;
}
.checked_box img{
        width:100px;
        height:50px;
}
.updatedata_login{
	position:relative;
   	width:240px;
	height:38px;
	text-align:center;
	border-radius:6px;
	border-bottom:2px solid #828282;
	background-color:#BED742;
}
.updatedata_login a{
	text-decoration: none;
	line-height:38px;
	font-size:19px;
	font-family:微软雅黑;
	font-weight:bold;
	color:#333333;
}
.updatedata_bottom{
	margin-top:150px;
}
.updatedata_hr{
	margin:0 auto;
    width:850px;
}
.updatedata_bottom_container{
	margin:0 auto;
	width:1000px;
	height:90px;
}
.updatedata_bottom_container p{
	padding-top:15px;
 	font-family:微软雅黑;
	font-size:16px;
	text-align:center;
	color:#999999;
}